*{
	margin: 0;
	padding: 0
}
img{
	border:0;
}
html,body{
	width: 100%;
	height: 100%;
}
#PwApp{
	width: 100%;
	height: 100%;
}
.stage{
	width: 100%;
	height: 100%;
	background-color: #ccc;
}
.img-figure{
	width: 320px;
	height: 320px;
	text-align: center;
	padding-top: 20px;
	background-color: #fff;
	position: absolute;
}
figcaption{
	margin-top: 20px;
}